*.pyc
/coverage/
/dist/
/bin/
/develop-eggs/
/parts/
/devsrc/
/eggs/
/include/
/lib/
/local/
/.project
/.pydevproject
/.pydevproject.bak
/.settings
/.mrsd
/.installed.cfg
/.mr.developer.cfg
/src/node.ext.ldap.egg-info
/pip-selfcheck.json
