[buildout]
extends = ldap.cfg
develop = .
parts = test py omelette dependencytree
extensions = mr.developer
sources-dir = ${buildout:directory}/devsrc
always-checkout = true
auto-checkout = 
    zodict

[sources]
bda.cache    = svn https://svn.plone.org/svn/collective/bda.cache/trunk
zodict       = svn https://svn.plone.org/svn/archetypes/AGX/zodict/trunk
odict       = svn https://svn.plone.org/svn/archetypes/AGX/odict/trunk

[test]
recipe = zc.recipe.testrunner
eggs = 
    ${python-ldap:egg}   
    bda.ldap [test]
environment = testenv

[testenv]
TESTLDIF = ${buildout:directory}/testenv/data.ldif
SLAPDBIN = ${openldap:location}/libexec/slapd
LDAPADDBIN = ${openldap:location}/bin/ldapadd
LDAPPIDFILE = ${openldap:location}/var/run/slapd.pid
DBDIR = ${buildout:parts-directory}/openldap/var/openldap-data

[py]
recipe = zc.recipe.egg
interpreter = py
eggs = ${test:eggs}

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}
ignore-develop = True

[dependencytree]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    tl.eggdeps
ignore-develop = True
