[buildout]
extends = base.cfg
develop = .
parts =
    python-ldap
    testldap
    code-analysis
    test
    coverage

always-checkout = false
auto-checkout =

[openldap]
# utilize download cache which is then cached
shared = true

[code-analysis]
recipe = plone.recipe.codeanalysis
pre-commit-hook = False
return-status-codes = True
